html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}


.black-container{
  background-color: black;
  opacity: 0.4;
  position: absolute; 
  top:0px; 
  bottom:0px; 
  width: 100%;
  z-index: -1;
}

#root{
  height: 100% !important;
}


.landing{
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}


.landing-body{
  display: grid;
  justify-content: center;
  align-items: center;
}

.label{
  color:white;
  text-shadow: 2px 2px 4px #000000;
}



.day-km-config{
  display: grid;
  grid-template-columns: auto auto;
}

.btnPlanificar{
  width: 100%;
}

.planificate-body{
  display: grid;
  height: 100%;
  padding: 10vh;
}

.planificate-body-col2{
  display: grid;
  height: 100%;
}

.days-panel{
  border: 1px solid #222;
  height: 100%;
  background: white;
}

.day-container{
  border: 1px solid #222;
  height: 100%;
  display: grid;
  background: white;
}

.info-day-panel{
  border: 1px solid #222;
}

.map-panel{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-top: 1px solid #222 ;
}



ul li{
  color:#ffff;
  font-size: 3em;
  display: inline;
  margin: 10vh;
}


@font-face {
  font-family:'HeydingsCommonIconsRegular';
  src: url('http://ianfarb.com/random/heydings_icons-webfont.eot');
  src: url('http://ianfarb.com/random/heydings_icons-webfont.eot?#iefix') format('embedded-opentype'),
       url('http://ianfarb.com/random/heydings_icons-webfont.woff') format('woff'),
       url('http://ianfarb.com/random/heydings_icons-webfont.ttf') format('truetype'),
       url('http://ianfarb.com/random/heydings_icons-webfont.svg#HeydingsCommonIconsRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}


.bg {
position: fixed;
z-index: -1;
top: 0;
right: 0;
bottom: 0;
left: 0;
transition: .25s;
pointer-events: none;
margin: 0;
}



li:hover  {
    cursor: pointer;
}


  

