html {
  height: 100% 
}

body {
  height: 100%;
  margin: 0;
  padding: 0
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


ul {
  list-style-type: none;
}

div[id='root']{
  display: grid;
  height: 100%;
}

.landing-body{
  display: grid;
  padding: 10vh;
  justify-content: center;
  grid-template-rows: 15% auto;
}

.landing-body h1{
  font-size: 3em;
}

.day-km-config{
  display: grid;
  grid-template-columns: auto auto;
}

.btnPlanificar{
  width: 100%;
}

.planificate-body{
  display: grid;
  height: 100%;
  padding: 10vh;
}

.planificate-body-col2{
  display: grid;
  height: 100%;
}

.days-panel{
  border: 1px solid #222;
  height: 100%;
}

.day-container{
  border: 1px solid #222;
  height: 100%;
  display: grid;
}

.info-day-panel{
  border: 1px solid #222;
}

.map-panel{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-top: 1px solid #222 ;
}
