
.transport{
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 10% 15%;
    text-align: center;
    padding-top: 10vh;
  }

  .landing-transport{
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .landing-config-way{
    height: 100%;
    display: grid;
    justify-content: center;
    grid-template-rows: 3% 20% 15%;
    text-align: center;
    align-items: center;
  }
  
  .landing-config-time{
    height: 100%;
    display: grid;
    justify-content: center;
    grid-template-rows: 6% 8% 5%;
    text-align: center;
    align-items: center;
    padding-top: 10vh;
  }

  .btn-spinner-cont{
    display: grid;
    height: 5vh;
  }

  @media(max-width: 1000px){
    .landing-config-time{
      grid-template-rows: 10% 10% 5% !important
    }
  }

 ul li{
    color:#ffff;
    font-size: 3em;
    display: inline;
    margin: 10vh;
  }

li:hover  {
    cursor: pointer;
}

svg:hover{
    color: #d7b94b !important;
}

#backArrow{
    position: absolute;
    top:0;
    left: 40px;
}

.card img{
    height: 12rem;
}


.card{
    cursor: pointer;
    transition: 0.5s;
    margin: 3vh;
  }
  
  .card:hover{
    transform: scale(1.2,1.2);
  }
  
  label{
    color:white;
    font-size: 2em;;
  }
  

  @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+JP:wght@100&family=PT+Serif:wght@700&family=Roboto:wght@100&family=Yaldevi:wght@600&family=Yanone+Kaffeesatz&display=swap');
div h1{
    color:white;
    font-size: 7em;
    text-shadow: 2px 2px #222;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* Planificate button */

@import url("https://fonts.googleapis.com/css?family=Montserrat");

.planificatBtn {
  transform: translate(0%, 0%);
  background: transparent;
  color: #ffff !important;
  text-decoration: none !important;
  font-weight: 600;
  font-size: 2em;
  display: inline-block;
  font-family: Montserrat;
  text-transform: uppercase;
  padding: 0.5em 2em;
  border: 2px solid #ffff;
  transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
.planificatBtn::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #ffff;
  transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
  z-index: -1;
}
.planificatBtn::after {
  content: "";
  display: inline-block;
  background-image: url("https://image.flaticon.com/icons/png/128/109/109617.png");
  position: absolute;
  top: 0;
  left: calc(100% - 3em);
  right: 3em;
  bottom: 0;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
}
.planificatBtn:hover {
  padding: 0.5em 3.5em 0.5em 0.5em;
  cursor: pointer;
}
.planificatBtn:hover::before {
  left: calc(100% - 3em);
  right: 0;
  transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
.planificatBtn:hover::after {
  right: 0;
  transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}

.goBack{
  display: grid !important;
  padding-left: 10vh;
  margin-top: 9vh;
}

.goBack svg{
  cursor:pointer !important
}