
.planificate-bg{
    display: grid !important;
    height: 100%;
    padding-top: 15vh;
  }
  
  .planificate-body{
    height: 35%;
    display: grid;
  }
  
  .planificate-body-col2{
    display: grid;
    height: 100%;
  }
  
  .days-panel{
    border: 1px solid #222;
    height: 100%;
    background: white;
  }
  
  .day-container{
    border: 1px solid #222;
    height: 100%;
    display: grid;
    background: white;
  }
  
  .info-day-panel{
    border: 1px solid #222;
  }
  
  .map-panel{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-top: 1px solid #222 ;
  }

  .days-panel {
    display: grid;
    grid-template-columns: 100%;
  }
  
.place{
  display: grid;
  grid-template-columns: 50% 50% ;
  text-align: center;
  grid-template-rows: 35% auto;
}
.place-name{
}

.place-name ul li{
  font-size: 1.5em;
  color:#222;
  display: list-item;
  margin: 0;
  list-style-type: none;
  margin-left: -4vh;
}

.place-day{
  border-left: 1px solid #222;
  display: grid;
}


.place-day ul li{
  font-size: 1.5em;
  color:#222;
  display: list-item;
  margin: 0;
  
}




.place-day ul{
  position: relative;
  left:-14px;
  content: '■';
}

.dot-line{
  background: #222;
}

.dot{
  height: 2vh;
  object-fit: cover;
}

