
.planificate-bg{
    display: grid !important;
    height: 100%;
    padding-top: 15vh;
  }
  
  .planificate-body{
    height: 100vh !important;
    display: grid;
    grid-template-columns: 15% 85% !important;
    background-color: #16151A;
    margin-top: -2px;
  }

  #layer-buttons{
    margin-top: 2vh;
    right: 0;
  }



  .route-acordion{
    background-color: #ffff;
    overflow-y: auto;
    max-height: 100vh;
  }


  .route-acordion-item-hidden{
    border: none !important;
  }

.route-acordion-item-hidden .accordion-button:focus {
  border: none !important;
  box-shadow: none !important;
  cursor: default;
}

.route-acordion-item-hidden .accordion-button:active {
  border: none !important;
  box-shadow: none !important;
  cursor: default;
}
.route-acordion-item-hidden .accordion-button:not(.collapsed){
  border: none !important;
  box-shadow: none !important;
  background-color: #ffff;
  cursor: default;
}

.route-acordion-item-hidden .accordion-button{
  cursor: default;
}

.route-acordion-item-hidden .accordion-button:hover{
  cursor: default;
}




  .route-acordion-item-hidden button::after{
    background-image: none !important;
  }
 
  .place{
    max-height: 50vh;
    overflow-y: auto;
    
  }

  .day-container{
    height: 100%;
    display: grid;
  }
  
  .info-day-panel{
    border: 1px solid #222;
  }
  
  .map-panel{
    display: grid;
    grid-template-columns: 95% !important;
    align-items: center;
    height: 100%;
  }

  .days-panel {
    display: grid;
    grid-template-columns: 100%;
  }
  

.dot-line{
  background: #222;
}

.dot{
  height: 2vh;
  object-fit: cover;
}


.day-panel{
  height: 80%;
  padding-left: 10vh;
}

.day-panel-sub{
 /* background: #b3b1b1;*/
  height: 100%;
  opacity: 0.7;
  display: grid;
  justify-content: flex-start;
  padding: 5vh;
}

.map-panel{
  display: grid;
  grid-template-columns: 98%;
  justify-content: center;
}

#map-wrapper{
  width: 100% !important;
  height: 100%;
  background-color: transparent !important;
}

#google-map{
  width: 100% !important;
  background-color: transparent !important;
}


.place{
  display: grid;
  grid-template-columns: 90% 10% ;
  text-align: center;
  width: 100% !important;
}

.place-name ul li{
  font-size: 1em;
  color:#222;
  display: list-item;
  margin: 0;
  list-style-type: none;
 
}

.place-day{
  border-left: 1px solid #222;
  display: grid;
  grid-template-rows: 50%;
}


.place-day ul li{
  font-size: 1.3em;
  color:#222;
  display: list-item;
  margin: 0;
}

.place-day ul{
  position: relative;
  left:-15px;
  content: '■';
}

.route-acordion-header button{
  font-size: 0.7em !important;
}